<h6>DNS Zone: <%= ENV['GATE_DNS_ZONE'] %> </h6> <a href="/dns_records/refresh" class="btn btn-info" role="button">Refresh Zone</a> 

<hr>

<%= form_with model: @dns_record do |form| %>
  <div class="row">
    <div class="col-md-3">
      <%= form.text_field :host_name, id: "host_name", class: "form-control", placeholder: "Host Name" %>
    </div>

    <div class="col-md-3">
      <%= form.text_field :ip_address, id: "ip_address", class: "form-control", placeholder: "IP Address" %>
    </div>

    <div class="col-md-3">
      <div class="d-grid gap-4 d-md-block">
        <%= form.submit "Add", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<hr>


<p style="color: green"><%= notice %></p>
<h4>DNS Records</h4>
<div id="dns_records">

  <table class="table table-striped table-hover table-dynamic">
    <thead class="thead-dynamic">
    <tr>

      <th>Host name</th>
      <th>IP Address</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @dns_records.each do |dns_record| %>
      <tr>

        <td><%= dns_record.host_name+'.'+ENV['GATE_DNS_ZONE'] %></td>
        <td><%= dns_record.ip_address %></td>
        <td><%= dns_record.user.name %></td>

        <td><%= link_to 'Delete', dns_record, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>