<p style="color: green"><%= notice %></p>

<%= render @configuration %>

<div>
  <%= link_to "Edit this configuration", edit_configuration_path(@configuration) %> |
  <%= link_to "Back to configurations", configurations_path %>

  <%= button_to "Destroy this configuration", @configuration, method: :delete %>
</div>
