<%= form_with model: @vpn_configuration, url: update_vpn_configuration_path(@vpn_configuration), local: true, html: { class: "form-horizontal" } do |form| %>
  <div class="form-group">
    <label class="control-label col-sm-2" for="wg_private_key">Private Key:</label>
    <div class="col-sm-10">
      <%= form.text_field :wg_private_key, id: "wg_private_key", class: "form-control", disabled: true, placeholder: "Enter private key" %>
    </div>
  </div>
  <p>

  <div class="form-group">
    <label class="control-label col-sm-2" for="wg_public_key">Public Key:</label>
    <div class="col-sm-10">
      <%= form.text_field :wg_public_key, id: "wg_public_key", class: "form-control", disabled: true, placeholder: "Enter public key" %>
    </div>
  </div>
  <p>

  <div class="form-group">
    <label class="control-label col-sm-2" for="wg_ip_address">IP Address:</label>
    <div class="col-sm-10">
      <%= form.text_field :wg_ip_address, id: "wg_ip_address", class: "form-control", placeholder: "Enter IP address" %>
    </div>
  </div>
  <p>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save Configuration", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

<hr/>

<h4>Allowed IP Address</h4>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @vpn_configuration.network_addresses.each do |network_address| %>
    <tr>
      <td><%= network_address.network_address %></td>
      <td><%= link_to 'Delete', remove_network_address_path(network_address.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
    </tr>

  <% end %>
  </tbody>
</table>

<%= form_with model: @network_address, url: add_network_address_path(@vpn_configuration), local: true, html: { class: "form-horizontal" } do |form| %>
  <div class="form-group">
    <label class="control-label col-sm-8" for="network_address">Network Address (in Address/Netmask format):</label>
    <div class="col-sm-10">
      <%= form.text_field :network_address, id: "network_address", class: "form-control", placeholder: "X.X.X.X/YY" %>
    </div>
  </div>
  <p>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= form.submit "Add network address", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>

