<div class="container col-sm-8">
  <h2>WireGuard Configuration</h2>
  <h6>WireGuard is a modern VPN protocol with state-of-the-art formally verified cryptography while being extremely
    minimal and fast. It is a VPN protocol that is very easy to setup and use. It is also very secure and fast. You can
    read more about WireGuard <a href="https://www.wireguard.com/">here</a></h6>
  <hr>

  <h6>Please <b style="color: red">click here</b> to download server config.</h6>
  <h5>We automatically rewrite configuration if you update Port, IP Range or Server public IP address.</h5>
  <div style="color: red">You will be required to re-configure all client devices on update, please be careful,
    don't do it if you don't understand
  </div>
  <hr>

  <%= form_with model: @vpn_configuration, url: update_vpn_configuration_path(@vpn_configuration), local: true, html: { class: "form-horizontal" } do |form| %>
    <div class="form-group">
      <label class="control-label text-primary col-sm-6 font-weight-bold" for="wg_private_key">Private
        Key:</label><label class="control-label col-sm-6 text-primary" for="wg_public_key">&nbsp;&nbsp;&nbsp;Public
      Key:</label>
      <div class="row">

        <div class="col-sm-6">
          <%= form.text_field :wg_private_key, id: "wg_private_key", class: "form-control", disabled: true, placeholder: "Enter private key" %>
        </div>
        <div class="col-sm-6">
          <%= form.text_field :wg_public_key, id: "wg_public_key", class: "form-control", disabled: true, placeholder: "Enter public key" %>
        </div>
      </div>

    </div>
    <p>
    <div class="form-group">
      <label class="control-label text-primary col-sm-6 font-weight-bold" for="wg_port">WireGuard Port
        (UDP):</label><label class="control-label col-sm-6 text-primary" for="wg_keep_alive">&nbsp;&nbsp;&nbsp;Connection Keep Alive (Seconds)
      </label>
      <div class="row">
        <div class="col-sm-6">
          <%= form.text_field :wg_port, id: "wg_port", class: "form-control", placeholder: "WireGuard port (UDP)" %>
        </div>
        <div class="col-sm-6">
          <%= form.text_field :wg_keep_alive, id: "wg_keep_alive", class: "form-control", placeholder: "25" %>
        </div>

      </div>
    </div>
    <p>

    <div class="form-group">
      <label class="control-label col-sm-6 text-primary" for="wg_ip_address">Public IP
        Address:</label><label class="control-label col-sm-6 text-primary" for="wg_listen_address">&nbsp;&nbsp;&nbsp;Private interface address:</label>
      <div class="row">
        <div class="col-sm-6">
          <%= form.text_field :wg_ip_address, id: "wg_ip_address", class: "form-control", placeholder: "Enter IP address" %>
        </div>
        <div class="col-sm-6">
          <%= form.text_field :wg_listen_address, id: "wg_listen_address", class: "form-control", placeholder: "Enter server listening IP address" %>
        </div>


      </div>
    </div>
    <p>

    <div class="form-group">
      <label class="control-label col-sm-6 text-primary" for="wg_interface_name">WG Interface name
        </label><label class="control-label col-sm-6 text-primary" for="wg_forward_interface">&nbsp;&nbsp;&nbsp;Forward Interface</label>
      <div class="row">

        <div class="col-sm-6">
          <%= form.text_field :wg_interface_name, id: "wg_interface_name", class: "form-control", placeholder: "wg0" %>
        </div>

        <div class="col-sm-6">
          <%= form.text_field :wg_forward_interface, id: "wg_forward_interface", class: "form-control", placeholder: "eth0" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-6 text-primary" for="wg_ip_range">Client IP Network range ( It is /24)
      </label><label class="control-label col-sm-6 text-primary" for="wg_listen_address">&nbsp;&nbsp;&nbsp;Server VPN IP Address</label>
      <div class="row">

        <div class="col-sm-6">
          <%= form.text_field :wg_ip_range, id: "wg_ip_range", class: "form-control", placeholder: "10.42.5.0/24" %>
        </div>

        <div class="col-sm-6">
          <%= form.text_field :server_vpn_ip_address, id: "server_vpn_ip_address", class: "form-control", disabled: true, placeholder: "10.42.5.1" %>
        </div>
      </div>
    </div>
    <p>

    <div class="form-group">
      <label class="control-label col-sm-12 text-primary" for="dns_servers">DNS Server (Comma Separated, Leave empty
        if there you
        don't have a DNS server):</label>
      <div class="col-sm-12">
        <%= form.text_field :dns_servers, id: "dns_servers", class: "form-control", placeholder: "Enter DNS Server(s) address" %>
      </div>
    </div>
    <p>

    <div class="form-group">
      <div class="col-sm-10">
        <%= form.submit "Update configuration", data: { turbo_method: :delete, turbo_confirm: "**DANGER ZONE** \n--------------------\nAre you sure? Clients may not be able to connect to vpn service.\n\nIt's possible that you will be required to re-configure all client devices. \n\nPlease be careful, **click cancel** if you don't understand this action." }, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr/>


  <h4>Allowed Networks</h4>
  <h6>These Network addresses are for internal routing for WireGuard. Also, when creating clients, these IP address
    will
    be automatically added to peer configuration</h6>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @vpn_configuration.network_addresses.each do |network_address| %>
      <tr>
        <td><%= network_address.network_address %></td>
        <td><%= link_to 'Delete', remove_network_address_path(network_address.id), data: { turbo_method: :delete, turbo_confirm: "**DANGER ZONE** \n--------------------\nAre you sure? Clients will not be able to connect to this network range.It's possible that you will be required to re-configure all client devices. \n\nPlease be careful, **click cancel** if you don't understand this action." }, class: 'btn btn-danger btn-sm' %></td>
      </tr>

    <% end %>
    </tbody>
  </table>

  <%= form_with model: @network_address, url: add_network_address_path(@vpn_configuration), local: true do |form| %>
    <div class="form-group">
      <label class="control-label col-sm-8" for="network_address">Network Address (in Address/Netmask
        format):</label>
      <div class="row">
        <div class="col-sm-8">
          <%= form.text_field :network_address, id: "network_address", class: "form-control", placeholder: "X.X.X.X/YY" %>
        </div>
        <div class="col-sm-4">
          <%= form.submit "Add network address", class: "btn btn-primary", data: { turbo_confirm: "**DANGER ZONE** \n--------------------\nIt's possible that you will be required to re-configure all client devices before they can access this network address. \n\nPlease be careful, **click cancel** if you don't understand this action." } %>
        </div>
      </div>
    </div>
    <p>
  <% end %>
</div>


