<%= form_with(model: vpn_device) do |form| %>
  <% if vpn_device.errors.any? %>
    <div class="alert alert-danger mb-3">
      <h6 class="alert-heading mb-2"><%= pluralize(vpn_device.errors.count, "error") %> prohibited this device from being saved:</h6>
      <ul class="mb-0">
        <% vpn_device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <%= form.label :user_id, "User", class: "form-label" %>
      <%= form.collection_select :user_id, User.all, :id, :name, {}, { class: "form-select" } %>
    </div>

    <div class="col-md-6">
      <%= form.label :description, "Description", class: "form-label" %>
      <%= form.text_field :description, class: "form-control", placeholder: "e.g. MacBook Pro, iPhone" %>
    </div>

    <div class="col-12">
      <%= form.submit "Create Device", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
