<% vpn_devices.each do |vpn_device| %>
  <% if vpn_device.description? %>

    <div class="card">
      <div class="card-header">
        <%= vpn_device.description %>
      </div>
      <div class="card-body">
        <div class="container-sm col-sm-8 align-content-start">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="card-title">VPN Server IP</h5>
            </div>
            <div class="col-sm-8">
              <h5 class="card-title"> <%= @vpn_configuration.wg_ip_address %></h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <h6 class="card-title">Device Private Key</h6>
            </div>
            <div class="col-sm-8">
              <td></td>
              <h6 class="card-title"> <%= vpn_device.private_key %></h6>
            </div>
          </div>
          <%= link_to 'Show Configuration', vpn_device, class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Remove Configuration', vpn_device, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>

        </div>
        <div class="container-sm col-sm-4">

        </div>

      </div>
    </div>
  <% end %>
<% end %>
<br>



<% vpn_devices_require_updates = vpn_devices.select { |device| (device.description.nil? or device.description.length == 0) } %>


<% if vpn_devices_require_updates.count > 0 %>

  <h4>Please add description, devices with no description can't have configuration</h4>
  <p/>
  <% vpn_devices_require_updates.each do |vpn_device| %>
    <%= form_with model: vpn_device do |form| %>
      <div class="row">

        <div class="col-sm-4">
          <%= form.text_field :description, id: "description", class: "form-control", placeholder: "Device Description" %>
        </div>

        <div class="col-sm-3">
          <%= form.text_field :private_key, id: "private_key", class: "form-control", disabled: true, placeholder: "Enter private key" %>
        </div>
        <div class="col-sm-3">
          <%= form.text_field :public_key, id: "public_key", class: "form-control", disabled: true, placeholder: "Enter public key" %>
        </div>

        <div class="col-sm-offset-2 col-sm-2">
          <%= form.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
      <p/>
    <% end %>
  <% end %>

<% end %>

<% if vpn_devices_require_updates.count == 0 %>
  <%= link_to 'New VPN Device', new_vpn_device_path, class: 'btn btn-primary' %>
<% end %>
