<% vpn_devices_require_updates = vpn_devices.select { |device| (device.description.nil? or device.description.length == 0) } %>
<% if vpn_devices_require_updates.count > 0 %>
  <br/>
  <h6>Please add description to the followig device(s), devices with no description can't have configuration</h6>
  <% vpn_devices_require_updates.each do |vpn_device| %>
    <%= form_with model: vpn_device do |form| %>
      <div class="row">
        <div class="col-md-3">
          <%= form.text_field :description, id: "description", class: "form-control", placeholder: "Device Description" %>
        </div>

        <div class="col-md-3">
          <%= form.text_field :private_key, id: "private_key", class: "form-control", disabled: true, placeholder: "Private Key" %>
        </div>
        <div class="col-md-3">
          <% if @current_user.admin %>
            <div class="form-check">
              <%= form.check_box(:node, class: "form-check-input") %>
            <label class="form-check-label" for="flexCheckDefault">
              &nbsp Is infra node?
            </label>
            </div>

          <% end %>
        </div>
        <div class="col-md-3">
          <div class="d-grid gap-4 d-md-block">
            <%= form.submit "Update", class: "btn btn-primary" %>
            <td><%= link_to 'Remove', vpn_device, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if vpn_devices_require_updates.count == 0 %>
  <%= link_to 'Add a VPN Device', new_vpn_device_path, class: 'btn btn-primary btn-sm' %>
<% end %>
<br>
<br>

<% vpn_devices.each do |vpn_device| %>
  <% if vpn_device.description? %>

    <div class="card">
      <div class="card-header">
        <%= vpn_device.description %>
        <% if vpn_device.node %>
          (Infrastructure node)
        <% end %>
      </div>
      <div class="card-body">
        <div class="row">


          <div class="container-sm col-sm-8 align-content-start">
            <div class="row">
              <div class="col-sm-4">
                <h5 class="card-title">VPN Server IP</h5>
              </div>
              <div class="col-sm-8">
                <h5 class="card-title"> <%= @vpn_configuration.wg_ip_address %></h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h6 class="card-title">Device Private Key</h6>
              </div>
              <div class="col-sm-8">
                <td></td>
                <h6 class="card-title"> <%= vpn_device.private_key %></h6>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h6 class="card-title">Device Public Key</h6>
              </div>
              <div class="col-sm-8">
                <td></td>
                <h6 class="card-title"> <%= vpn_device.public_key %></h6>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h6 class="card-title">Device IP Address</h6>
              </div>
              <div class="col-sm-8">
                <td></td>
                <h6 class="card-title"> <%= vpn_device.ip_allocation.ip_address %></h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h6 class="card-title">Accessible remote networks</h6>
              </div>
              <div class="col-sm-8">
                <td></td>
                <h6 class="card-title"> <%= @vpn_configuration.network_addresses.map(&:network_address).join(", ") %></h6>
              </div>
            </div>
            <br/>

            <%= link_to 'Download Configuration', download_config_path(vpn_device.id), class: 'btn btn-primary btn-sm' %>


            <% unless vpn_device.node %>
              <%= link_to 'Remove Configuration', vpn_device, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
          <div class="container-sm col-sm-4 align-content-end pt-2 pb-2">
            <%= raw vpn_device.generate_qr_code %>
          </div>
        </div>

      </div>
    </div>
    <br/>
  <% end %>
<% end %>



