<div id="<%= dom_id vpn_device %>">
  <p>
    <strong>User:</strong>
    <%= vpn_device.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vpn_device.description %>
  </p>

  <p>
    <strong>Private key:</strong>
    <%= vpn_device.private_key %>
  </p>

  <p>
    <strong>Public key:</strong>
    <%= vpn_device.public_key %>
  </p>

</div>
