
<div>
    <h5>VPN Device configuration</h5>
    <p style="color: red"><%= alert %></p>
    <p style="color: green"><%= notice %></p>
    <%= @vpn_device.description %>
<p style="color: green"><%= notice %></p>
    <%= @vpn_device.description %>
</div>
