<div id="<%= dom_id vpn_configuration %>">
  <p>
    <strong>Wg private key:</strong>
    <%= vpn_configuration.wg_private_key %>
  </p>

  <p>
    <strong>Wg public key:</strong>
    <%= vpn_configuration.wg_public_key %>
  </p>

  <p>
    <strong>Wg ip address:</strong>
    <%= vpn_configuration.wg_ip_address %>
  </p>

  <p>
    <strong>Wg port:</strong>
    <%= vpn_configuration.wg_port %>
  </p>

</div>
