<!DOCTYPE html>
<html>
  <head>
    <title>GateWireguard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="dark-mode" class="admin-layout">
    <%= render 'shared/navbar' %>
    <div class="container-md py-4">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
