<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{content_for(:title)} - GATE" : "GATE" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg?v=2" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicon.svg?v=2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="dark-mode">
    <%= render 'shared/navbar' unless @hide_navbar %>
    <%= yield %>
  </body>
</html>
